/*lightGreen #3CC47C rgba(60, 196, 124, 1)
darkGreen #1E392A rgba(30, 57, 42, 1)
tan #E9C893 rgba(233, 200, 147, 1)
grey #828081 rgba(130, 128, 129, 1)*/
@font-face {
    font-family: humger;
    src: url(Humger.ttf);
}

body{
	background-image: url(../images/mobileBgLeaves.jpg);
	background-position: fixed;
	background-size: cover;
	border: 1px solid transparent;
}

.layer{
	background-color: rgba(60, 196, 124, 0.1);
	margin-top: -16px;
}

.littlenj{
	margin-right: 10px;
	margin-top: -10px;
}


#title{
	/*font-family: 'Caesar Dressing', serif;*/
	font-family: 'humger', serif;
	color:white;
	/*color:#89ae72;*/
	text-align: center;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 20px;
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 3.5em;
	font-weight: 300;
	font-style: italic;
	background-color:rgba(0,0,0,0.5);
}

#row-margin{
	margin-right: 2px;
	margin-left: 2px;
}

img{
	max-width:100%;
	max-height:100%;
}

.name{
	border-top:1px solid rgba(233, 200, 147, 1);
	background-color:rgba(30, 57, 42, 1);
	font-size: .6em;
	text-align: center;
	margin-top: 0px;
	/*white-space: nowrap;*/
	/*color:#89ae72;*/
	color:white;
	padding-bottom: 3px;
	padding-top: 3px;
	min-height:54px;

}

.sci-Name{
	margin-top: 3px;
	font-style: italic;
	font-size: .95em;
	font-weight: 300;
	/*white-space: nowrap;*/
	/*color:#89ae72;*/
}

#popup{
	height: 80%;
	width: 80%;
	top: 10%;
	left: 10%;
	position: fixed;
}

.moveUp{
	z-index: 1;
}

.popupFrog{
	max-width:100%;
	max-height:100%;
}

.popuptext{
	color:#89ae72;
}

.xxclose{
	font-weight: bolder;
	color: white;
	font-size: 3em;
	text-align: right;
	margin-bottom: -10px;
}


#myFrame{
	height: 100%;
	width: 100%;
	top: 20%;
	left: 20%;
}


@media screen and (min-width: 337px) {
   .sci-Name {
      font-size: 1em;
      font-weight: 300;
    }

    .name{
    	font-size: .9em;
    	min-height:76px; /*73 broke*/ /*80 works*/
    }
}


@media screen and (min-width: 500px) {
    body {
    	background: url(../images/LeavesBglittle.jpg);
    	background-size: cover;
    }

    .name{
    	font-size: 1em;
    	min-height:66px;
    }

    .sci-Name{
    	font-size: 1em;
    }

    #title{
			margin-bottom: 30px;
			padding-top: 35px;
			padding-bottom: 35px;
    }
}

@media screen and (min-width: 1000px) {
	  .name{
    	font-size: 1.5em;
    	min-height:112px;
    }
    .sci-Name{
    	font-size: 1.1em;
    }
    #title{
    	font-size: 8em;
			margin-bottom: 40px;
			padding-top: 35px;
			padding-bottom: 40px;
    }
}


/*------Start style for modal--------*/
.modal-content{
	background-color:rgba(30, 57, 42, 1);
	/*border: 1px solid rgba(30, 57, 42, 1);*/
	border: 1px solid rgba(233, 200, 147, 1);
	border-radius: 0px;
}

.modal-header{
	border-bottom: 1px solid rgba(233, 200, 147, 1);
	/*background-image:url(cssimages/LeavesBg.jpg);*/
	/*background:rgba(0,0,0,0.9);*/
	/*background-color:rgba(30, 57, 42, 1);*/
}

.modal-body{
	/*background:rgba(0,0,0,0.9);*/
	/*background-color:rgba(30, 57, 42, 1);*/
	text-align: center;
}

.modal-footer{
	background-image:url(cssimages/LeavesBg.jpg);
}

.modal-dialog{
	/*color:#89ae72;*/
	color:white;
	background-color: #89ae72;
}

#closeStyle{
	/*color:white;*/
	color:rgba(233, 200, 147, 1);
	/*color: rgba(130, 128, 129, 1);*/
	font-weight: 300;
	text-shadow:none;
	text-decoration: none;
	opacity: 1;
	border:1px solid rgba(233, 200, 147, 1);
	padding:5px 10px 5px 10px;
	border-radius: 50%;
	margin-right: -12px;
	margin-top: -12px;
}

#myModalLabel{
	text-align: center;
	font-weight: bold;
	font-size:2em;
}


/*PAUSE BUTTON glyphicon glyphicon-pause*/
.playButton span{
	color:white;
}
.playButton{
	/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
	display:inline-block;
	background-color: rgba(60, 196, 124, 1);
	font-size:50px;
	color:white;
	margin-top: 8px;
	padding-top: 5px;
	padding-bottom: 0px;
	padding-left: 22px; /*15px for pause*/
	padding-right: 11px;
	border:white 5px solid;
	border-radius: 50%;
	/*padding:6px 24px;*/

}
.playButton:hover {
	background-color: rgba(60, 196, 124, 0.7);
}

.playButton:active {
	position:relative;
	top:1px;
	text-decoration: none;
}

.popSci-Name{
	font-style: italic;
	font-size: 1.5em;
}

#workPlease{
	position: inherit;
	padding-bottom: 10px;
}

p.info{
	padding-top: 5px;
}

#testfoo{
	color:red;
}
/*-----End style for pop-up------*/

/*fix bootstrap padding*/
.col-xs-4{
	padding-right:4px;
	padding-left: 4px
}
/*END fix bootstrap padding*/

/*TEST*/
