


#title{
	color:#89ae72;
	text-align: center;
	margin-bottom: 20px;
}

#frog-contain{

	
	height: 100%;
	

}

img{
	max-width:100%;
	max-height:100%;
	border-radius: 10px;
	border: solid 10px black;
}

.name{
	font-size: .7em;
	text-align: center;
	margin-top: 4px;
	white-space: nowrap;
	color:#89ae72;	
}
.sci-Name{
	font-style: italic;
	font-size: .7em;
	white-space: nowrap;
	color:#89ae72;
}

#popup{
	height: 80%;
	width: 80%;
	top: 10%;
	left: 10%;
	
	position: fixed;


}
.moveUp{
	z-index: 1;
	
}

.popupFrog{
	max-width:100%;
	max-height:100%;
}

.popuptext{
	color:#89ae72;


}

.xxclose{
	font-weight: bolder;
	color: white;
	font-size: 3em;
	text-align: right;
	margin-bottom: -10px;

}

#myFrame{
	height: 100%;
	width: 100%;
	top: 20%;
	left: 20%;
}

.modal-header{
	background-image:url(cssimages/LeavesBg.jpg);
}

.modal-body{
	background-image:url(cssimages/LeavesBg.jpg);
}
.modal-dialog{

	color:#89ae72;
	background-color: #89ae72;
}

#closeStyle{
	color:white;
	text-decoration: none;

}


